---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Right
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: All
IncludeBlocks: Preserve
SortIncludes: false
IndentWidth: 2
NamespaceIndentation: None
Standard: c++17
